@import "animation";

html {
  font-size: 5vw;
  font-family: 'iconfont';
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0.15rem;
}

a {
  color: gray;
  text-decoration: none;
}

.icon-group {
  position: fixed;
  z-index: 100;
  right: 0;
  a {
    margin-right: 10px;
    height: 32px;
  }
}

@font-face {
  font-family: 'iconfont';  /* project id 1234362 */
  src: url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.eot');
  src: url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.woff') format('woff'),
  url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1234362_6jjpcylmlyj.svg#iconfont') format('svg');
}

#app {
  @import "../pages/welcome/index";
  @import "../pages/lifegame/index";
  @import "../pages/oldTV/index";

  #githubAddress {
    color: white;
  }
}

@import "../lib/snow/index";
@import "../lib/process/index";
@import "../lib/scrollBar/index";

.top-tip-group {
  background: transparent;
  text-align: center;
  font-size: 0.15rem;
  color: white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
