@keyframes magic-linear-right {
  0% {
    transform: translate(-50%); }
  100% {
    transform: translate(0); } }
@keyframes fade-forever {
  0% {
    color: white; }
  50% {
    color: transparent; }
  100% {
    color: white; } }
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translate(-100vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }
html {
  font-size: 5vw; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0.15rem; }

@keyframes magic-linear-right {
  0% {
    transform: translate(-50%); }
  100% {
    transform: translate(0); } }
@keyframes fade-forever {
  0% {
    color: white; }
  50% {
    color: transparent; }
  100% {
    color: white; } }
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translate(-100vw); }
  100% {
    opacity: 1;
    transform: translate(0); } }
#app div[page=welcome] {
  height: 100vh;
  text-align: center;
  color: white;
  position: relative; }
  #app div[page=welcome] .snow-group {
    transition: background-color 2s,transform 300ms; }
@keyframes move-from-top-top-panel {
  0% {
    transform: translate(0, -20vh); }
  100% {
    transform: translate(0, calc(40vh - 2rem)); } }
@keyframes move-from-top-bottom-panel {
  0% {
    transform: translate(0, 100vh); }
  100% {
    transform: translate(0, calc(50vh + 2rem)); } }
  #app div[page=welcome] > .top-panel {
    z-index: 1;
    position: absolute;
    width: 100%;
    animation-name: move-from-top-top-panel;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    filter: drop-shadow(0px 0px 3px white); }
    #app div[page=welcome] > .top-panel div[hr] {
      height: 1px;
      transform: translate(-100vw);
      animation-name: fade-in-from-left;
      animation-duration: 300ms;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      overflow: hidden; }
    #app div[page=welcome] > .top-panel div[hr] > div {
      width: 200%;
      height: 100%;
      transform: translate(-50%);
      background: linear-gradient(to right, red, blue, red, blue, red);
      animation-name: magic-linear-right;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 1300ms; }
    #app div[page=welcome] > .top-panel > .title {
      word-spacing: 0.5rem;
      font-size: 0.5rem;
      letter-spacing: 0.25rem;
      display: inline-block;
      animation-name: fade-forever;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
      #app div[page=welcome] > .top-panel > .title .end-letter {
        letter-spacing: 0; }
  #app div[page=welcome] > .bottom-panel {
    z-index: 1;
    position: absolute;
    width: 100%;
    animation-name: move-from-top-bottom-panel;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    filter: drop-shadow(0px 0px 3px white); }
    #app div[page=welcome] > .bottom-panel > .process {
      left: 0;
      right: 0;
      margin: auto;
      width: 72%;
      display: flex; }
#app div[page=lifegame] {
  box-sizing: border-box; }
  #app div[page=lifegame] .world {
    margin: auto; }
  #app div[page=lifegame] .uel {
    height: 15px;
    line-height: 15px; }
  #app div[page=lifegame] .uel:nth-of-type(1) > .el {
    border-top: solid 1px lightgray; }
  #app div[page=lifegame] .uel:first-of-type {
    background-color: lightgray; }
  #app div[page=lifegame] .uel:last-of-type {
    background-color: lightgray; }
  #app div[page=lifegame] .el {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    box-sizing: border-box; }
  #app div[page=lifegame] .el:nth-of-type(1) {
    border-left: solid 1px lightgray;
    background-color: lightgray; }
  #app div[page=lifegame] .el:last-of-type {
    background-color: lightgray; }
  #app div[page=lifegame] .alive {
    background-color: skyblue; }
  #app div[page=lifegame] .options {
    text-align: center; }
  #app div[page=lifegame] form {
    margin: auto;
    text-align: left;
    display: inline-block; }
  #app div[page=lifegame] form > label {
    display: inline-block;
    width: 120px; }
  #app div[page=lifegame] #useInitStatus {
    color: #36e;
    cursor: pointer; }
#app div[page=oldTV] {
  text-align: center; }
  #app div[page=oldTV] #bell {
    height: 100vh;
    background: black; }
    #app div[page=oldTV] #bell canvas {
      border: none !important;
      height: 100%; }

.snow-group {
  background-color: black;
  transition: background-color 2s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* v1/v2 ~= square root of r2/r1 */
  /* size duration move-width number */ }
  .snow-group > .snow-1 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 0.05rem 0.05rem;
    background-color: transparent;
    background-attachment: fixed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 16.66667s;
    animation-name: anim-1;
    background-image: radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent); }
@keyframes anim-1 {
  0% {
    background-position: -97vh, 6vw -19vh, 39vw -82vh, 10vw -46vh, 54vw -94vh, 19vw -25vh, 3vw -98vh, 46vw -53vh, 61vw 0vh, 35vw -67vh, 21vw -35vh, 19vw -66vh, 60vw -63vh, 54vw -92vh, 48vw -11vh, 25vw -55vh, 71vw -13vh, 65vw -45vh, 41vw -33vh, 53vw -88vh, 69vw -74vh, 47vw -68vh, 70vw -65vh, 47vw -66vh, 18vw -45vh, 65vw -30vh, 62vw -12vh, 89vw -63vh, 44vw -87vh, 39vw -29vh, 74vw -14vh, 23vw -16vh, 43vw -33vh, 100vw -69vh, 76vw -82vh, 1vw -1vh, 72vw -92vh, 13vw -17vh, 15vw -8vh, 1vw -78vh, 61vw -50vh, 75vw -67vh, 52vw -13vh, 69vw -66vh, 45vw -65vh, 34vw -83vh, 87vw -65vh, 52vw -14vh, 38vw -31vh, 27vw -31vh, 73vw -78vh, 2vw -3vh, 33vw -70vh, 22vw -66vh, 47vw -16vh, 6vw -84vh, 56vw -7vh, 10vw -46vh, 84vw -6vh, 95vw -59vh, 8vw 3vh, 6vw 81vh, 39vw 18vh, 10vw 54vh, 54vw 6vh, 19vw 75vh, 3vw 2vh, 46vw 47vh, 61vw 100vh, 35vw 33vh, 21vw 65vh, 19vw 34vh, 60vw 37vh, 54vw 8vh, 48vw 89vh, 25vw 45vh, 71vw 87vh, 65vw 55vh, 41vw 67vh, 53vw 12vh, 69vw 26vh, 47vw 32vh, 70vw 35vh, 47vw 34vh, 18vw 55vh, 65vw 70vh, 62vw 88vh, 89vw 37vh, 44vw 13vh, 39vw 71vh, 74vw 86vh, 23vw 84vh, 43vw 67vh, 100vw 31vh, 76vw 18vh, 1vw 99vh, 72vw 8vh, 13vw 83vh, 15vw 92vh, 1vw 22vh, 61vw 50vh, 75vw 33vh, 52vw 87vh, 69vw 34vh, 45vw 35vh, 34vw 17vh, 87vw 35vh, 52vw 86vh, 38vw 69vh, 27vw 69vh, 73vw 22vh, 2vw 97vh, 33vw 30vh, 22vw 34vh, 47vw 84vh, 6vw 16vh, 56vw 93vh, 10vw 54vh, 84vw 94vh, 95vw 41vh, 8vw; }
  100% {
    background-position: 3vh, 6vw 81vh, 39vw 18vh, 10vw 54vh, 54vw 6vh, 19vw 75vh, 3vw 2vh, 46vw 47vh, 61vw 100vh, 35vw 33vh, 21vw 65vh, 19vw 34vh, 60vw 37vh, 54vw 8vh, 48vw 89vh, 25vw 45vh, 71vw 87vh, 65vw 55vh, 41vw 67vh, 53vw 12vh, 69vw 26vh, 47vw 32vh, 70vw 35vh, 47vw 34vh, 18vw 55vh, 65vw 70vh, 62vw 88vh, 89vw 37vh, 44vw 13vh, 39vw 71vh, 74vw 86vh, 23vw 84vh, 43vw 67vh, 100vw 31vh, 76vw 18vh, 1vw 99vh, 72vw 8vh, 13vw 83vh, 15vw 92vh, 1vw 22vh, 61vw 50vh, 75vw 33vh, 52vw 87vh, 69vw 34vh, 45vw 35vh, 34vw 17vh, 87vw 35vh, 52vw 86vh, 38vw 69vh, 27vw 69vh, 73vw 22vh, 2vw 97vh, 33vw 30vh, 22vw 34vh, 47vw 84vh, 6vw 16vh, 56vw 93vh, 10vw 54vh, 84vw 94vh, 95vw 41vh, 8vw 103vh, 6vw 181vh, 39vw 118vh, 10vw 154vh, 54vw 106vh, 19vw 175vh, 3vw 102vh, 46vw 147vh, 61vw 200vh, 35vw 133vh, 21vw 165vh, 19vw 134vh, 60vw 137vh, 54vw 108vh, 48vw 189vh, 25vw 145vh, 71vw 187vh, 65vw 155vh, 41vw 167vh, 53vw 112vh, 69vw 126vh, 47vw 132vh, 70vw 135vh, 47vw 134vh, 18vw 155vh, 65vw 170vh, 62vw 188vh, 89vw 137vh, 44vw 113vh, 39vw 171vh, 74vw 186vh, 23vw 184vh, 43vw 167vh, 100vw 131vh, 76vw 118vh, 1vw 199vh, 72vw 108vh, 13vw 183vh, 15vw 192vh, 1vw 122vh, 61vw 150vh, 75vw 133vh, 52vw 187vh, 69vw 134vh, 45vw 135vh, 34vw 117vh, 87vw 135vh, 52vw 186vh, 38vw 169vh, 27vw 169vh, 73vw 122vh, 2vw 197vh, 33vw 130vh, 22vw 134vh, 47vw 184vh, 6vw 116vh, 56vw 193vh, 10vw 154vh, 84vw 194vh, 95vw 141vh, 8vw; } }
  .snow-group > .snow-2 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 0.12rem 0.12rem;
    background-color: transparent;
    background-attachment: fixed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-name: anim-2;
    background-image: radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent); }
@keyframes anim-2 {
  0% {
    background-position: -28vh, 38vw -68vh, 6vw -75vh, 19vw -33vh, 20vw -61vh, 41vw -15vh, 19vw -53vh, 33vw -29vh, 25vw -89vh, 53vw 0vh, 81vw -79vh, 42vw -56vh, 37vw -57vh, 22vw -85vh, 90vw -71vh, 83vw -78vh, 42vw -21vh, 14vw -91vh, 54vw -69vh, 42vw -96vh, 25vw -51vh, 23vw -24vh, 24vw 0vh, 8vw -4vh, 12vw -19vh, 55vw -46vh, 45vw -70vh, 62vw -74vh, 70vw -94vh, 54vw -32vh, 23vw -4vh, 88vw -66vh, 45vw -8vh, 63vw -88vh, 69vw -3vh, 21vw -44vh, 9vw -9vh, 42vw -67vh, 54vw -2vh, 86vw -98vh, 100vw -21vh, 36vw -50vh, 81vw -16vh, 57vw -75vh, 65vw -14vh, 37vw -17vh, 93vw -4vh, 37vw -31vh, 39vw -28vh, 36vw -54vh, 96vw 72vh, 38vw 32vh, 6vw 25vh, 19vw 67vh, 20vw 39vh, 41vw 85vh, 19vw 47vh, 33vw 71vh, 25vw 11vh, 53vw 100vh, 81vw 21vh, 42vw 44vh, 37vw 43vh, 22vw 15vh, 90vw 29vh, 83vw 22vh, 42vw 79vh, 14vw 9vh, 54vw 31vh, 42vw 4vh, 25vw 49vh, 23vw 76vh, 24vw 100vh, 8vw 96vh, 12vw 81vh, 55vw 54vh, 45vw 30vh, 62vw 26vh, 70vw 6vh, 54vw 68vh, 23vw 96vh, 88vw 34vh, 45vw 92vh, 63vw 12vh, 69vw 97vh, 21vw 56vh, 9vw 91vh, 42vw 33vh, 54vw 98vh, 86vw 2vh, 100vw 79vh, 36vw 50vh, 81vw 84vh, 57vw 25vh, 65vw 86vh, 37vw 83vh, 93vw 96vh, 37vw 69vh, 39vw 72vh, 36vw 46vh, 96vw; }
  100% {
    background-position: 72vh, 38vw 32vh, 6vw 25vh, 19vw 67vh, 20vw 39vh, 41vw 85vh, 19vw 47vh, 33vw 71vh, 25vw 11vh, 53vw 100vh, 81vw 21vh, 42vw 44vh, 37vw 43vh, 22vw 15vh, 90vw 29vh, 83vw 22vh, 42vw 79vh, 14vw 9vh, 54vw 31vh, 42vw 4vh, 25vw 49vh, 23vw 76vh, 24vw 100vh, 8vw 96vh, 12vw 81vh, 55vw 54vh, 45vw 30vh, 62vw 26vh, 70vw 6vh, 54vw 68vh, 23vw 96vh, 88vw 34vh, 45vw 92vh, 63vw 12vh, 69vw 97vh, 21vw 56vh, 9vw 91vh, 42vw 33vh, 54vw 98vh, 86vw 2vh, 100vw 79vh, 36vw 50vh, 81vw 84vh, 57vw 25vh, 65vw 86vh, 37vw 83vh, 93vw 96vh, 37vw 69vh, 39vw 72vh, 36vw 46vh, 96vw 172vh, 38vw 132vh, 6vw 125vh, 19vw 167vh, 20vw 139vh, 41vw 185vh, 19vw 147vh, 33vw 171vh, 25vw 111vh, 53vw 200vh, 81vw 121vh, 42vw 144vh, 37vw 143vh, 22vw 115vh, 90vw 129vh, 83vw 122vh, 42vw 179vh, 14vw 109vh, 54vw 131vh, 42vw 104vh, 25vw 149vh, 23vw 176vh, 24vw 200vh, 8vw 196vh, 12vw 181vh, 55vw 154vh, 45vw 130vh, 62vw 126vh, 70vw 106vh, 54vw 168vh, 23vw 196vh, 88vw 134vh, 45vw 192vh, 63vw 112vh, 69vw 197vh, 21vw 156vh, 9vw 191vh, 42vw 133vh, 54vw 198vh, 86vw 102vh, 100vw 179vh, 36vw 150vh, 81vw 184vh, 57vw 125vh, 65vw 186vh, 37vw 183vh, 93vw 196vh, 37vw 169vh, 39vw 172vh, 36vw 146vh, 96vw; } }
  .snow-group > .snow-3 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 0.08rem 0.08rem;
    background-color: transparent;
    background-attachment: fixed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 18.33333s;
    animation-name: anim-3;
    background-image: radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent), radial-gradient(farthest-side, white, transparent); }
@keyframes anim-3 {
  0% {
    background-position: -67vh, 31vw -13vh, 64vw -70vh, 14vw -3vh, 78vw -20vh, 44vw -19vh, 48vw -48vh, 76vw -85vh, 14vw -91vh, 63vw -35vh, 37vw -11vh, 84vw -48vh, 39vw -78vh, 78vw -57vh, 67vw -60vh, 17vw -8vh, 18vw -47vh, 79vw -39vh, 54vw -11vh, 41vw -27vh, 73vw -3vh, 69vw -6vh, 27vw -61vh, 27vw -70vh, 70vw -28vh, 45vw -86vh, 6vw -42vh, 81vw -38vh, 41vw -38vh, 62vw -29vh, 78vw -51vh, 90vw -74vh, 52vw -52vh, 29vw -58vh, 82vw -75vh, 87vw -96vh, 42vw -12vh, 33vw -36vh, 10vw -44vh, 92vw -98vh, 51vw -62vh, 88vw -14vh, 11vw -71vh, 56vw -98vh, 71vw -20vh, 78vw -29vh, 77vw -61vh, 17vw -58vh, 25vw -85vh, 36vw -44vh, 41vw -29vh, 36vw -55vh, 64vw -47vh, 15vw -27vh, 10vw -74vh, 51vw -73vh, 7vw -4vh, 17vw -35vh, 55vw -30vh, 69vw -83vh, 82vw 33vh, 31vw 87vh, 64vw 30vh, 14vw 97vh, 78vw 80vh, 44vw 81vh, 48vw 52vh, 76vw 15vh, 14vw 9vh, 63vw 65vh, 37vw 89vh, 84vw 52vh, 39vw 22vh, 78vw 43vh, 67vw 40vh, 17vw 92vh, 18vw 53vh, 79vw 61vh, 54vw 89vh, 41vw 73vh, 73vw 97vh, 69vw 94vh, 27vw 39vh, 27vw 30vh, 70vw 72vh, 45vw 14vh, 6vw 58vh, 81vw 62vh, 41vw 62vh, 62vw 71vh, 78vw 49vh, 90vw 26vh, 52vw 48vh, 29vw 42vh, 82vw 25vh, 87vw 4vh, 42vw 88vh, 33vw 64vh, 10vw 56vh, 92vw 2vh, 51vw 38vh, 88vw 86vh, 11vw 29vh, 56vw 2vh, 71vw 80vh, 78vw 71vh, 77vw 39vh, 17vw 42vh, 25vw 15vh, 36vw 56vh, 41vw 71vh, 36vw 45vh, 64vw 53vh, 15vw 73vh, 10vw 26vh, 51vw 27vh, 7vw 96vh, 17vw 65vh, 55vw 70vh, 69vw 17vh, 82vw; }
  100% {
    background-position: 33vh, 31vw 87vh, 64vw 30vh, 14vw 97vh, 78vw 80vh, 44vw 81vh, 48vw 52vh, 76vw 15vh, 14vw 9vh, 63vw 65vh, 37vw 89vh, 84vw 52vh, 39vw 22vh, 78vw 43vh, 67vw 40vh, 17vw 92vh, 18vw 53vh, 79vw 61vh, 54vw 89vh, 41vw 73vh, 73vw 97vh, 69vw 94vh, 27vw 39vh, 27vw 30vh, 70vw 72vh, 45vw 14vh, 6vw 58vh, 81vw 62vh, 41vw 62vh, 62vw 71vh, 78vw 49vh, 90vw 26vh, 52vw 48vh, 29vw 42vh, 82vw 25vh, 87vw 4vh, 42vw 88vh, 33vw 64vh, 10vw 56vh, 92vw 2vh, 51vw 38vh, 88vw 86vh, 11vw 29vh, 56vw 2vh, 71vw 80vh, 78vw 71vh, 77vw 39vh, 17vw 42vh, 25vw 15vh, 36vw 56vh, 41vw 71vh, 36vw 45vh, 64vw 53vh, 15vw 73vh, 10vw 26vh, 51vw 27vh, 7vw 96vh, 17vw 65vh, 55vw 70vh, 69vw 17vh, 82vw 133vh, 31vw 187vh, 64vw 130vh, 14vw 197vh, 78vw 180vh, 44vw 181vh, 48vw 152vh, 76vw 115vh, 14vw 109vh, 63vw 165vh, 37vw 189vh, 84vw 152vh, 39vw 122vh, 78vw 143vh, 67vw 140vh, 17vw 192vh, 18vw 153vh, 79vw 161vh, 54vw 189vh, 41vw 173vh, 73vw 197vh, 69vw 194vh, 27vw 139vh, 27vw 130vh, 70vw 172vh, 45vw 114vh, 6vw 158vh, 81vw 162vh, 41vw 162vh, 62vw 171vh, 78vw 149vh, 90vw 126vh, 52vw 148vh, 29vw 142vh, 82vw 125vh, 87vw 104vh, 42vw 188vh, 33vw 164vh, 10vw 156vh, 92vw 102vh, 51vw 138vh, 88vw 186vh, 11vw 129vh, 56vw 102vh, 71vw 180vh, 78vw 171vh, 77vw 139vh, 17vw 142vh, 25vw 115vh, 36vw 156vh, 41vw 171vh, 36vw 145vh, 64vw 153vh, 15vw 173vh, 10vw 126vh, 51vw 127vh, 7vw 196vh, 17vw 165vh, 55vw 170vh, 69vw 117vh, 82vw; } }
.snow-stop {
  background-color: transparent; }

@keyframes fade-bg-color {
  0% {
    background-color: white; }
  50% {
    background-color: transparent; }
  100% {
    background-color: white; } }
.process-wrap {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 3px;
  height: 0.5rem;
  width: 100%;
  min-height: 16px; }
  .process-wrap > .process-entity {
    margin: 3px;
    background-color: white;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    animation-name: fade-bg-color;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .process-wrap > .process-msg {
    font-size: 0.3rem;
    margin: 0.3rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.24rem;
    animation-name: fade-forever;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

.number-span {
  width: 3em;
  text-align: right;
  font-size: 0.4rem;
  text-indent: 16px;
  display: block;
  position: relative;
  white-space: nowrap; }

.top-tip-group {
  background: transparent;
  text-align: center;
  font-size: 0.15rem;
  color: white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0; }

/*# sourceMappingURL=index.css.map */
