<div id="welcomePage" page="welcome">
    <div class="top-panel" id="topPanel">
        <h1 class="title"><%= locals.lang.welcome.title.main %><span class="end-letter"><%= locals.lang.welcome.title.lastLetter %></span></h1>
        <div hr id="hr"><div></div></div>
    </div>
    <div class="bottom-panel" id="bottomPanel">
        <div id="displayContainer"></div>
        <div class="process" id="process"></div>
    </div>
</div>
