<div page="pingpong">
    <div class="top-tip-group">
        <p><%= locals.lang.pingpong.tip.p1 %></p>
        <p><%= locals.lang.pingpong.tip.p2 %></p>
    </div>
    <div id="container"></div>
</div>
